.contact-full {
  min-height: 100vh; /* full page */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 10%;
  /* background: radial-gradient(circle at top left, #ffe1ff, #d6a8ff, #8e44ad); */
  color: #333;
}

/* Left text */
.contact-left {
  flex: 1;
  align-items: flex-start;
  text-align: left;
}

.contact-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-sub {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contact-email {
  font-size: 1.1rem;
  display: flex;
  gap: 0.5rem;
}

.contact-email a {
  color: #333;
  display: flex;
  text-decoration: underline;
  font-size: 1.1rem;
  gap: 0.5rem;;
}

/* Right box */
.contact-right {
  background: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  flex: 1;
  max-width: 400px;
}

.contact-right h3 {
  margin: 1rem 0;
}

.availability {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.contact-btn {
  display: block;
  background: #8e44ad;
  color: #fff;
  padding: 0.9rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: #6c3483;
}

.contact-btn.alt {
  background: #ff5cff;
}

.contact-btn.alt:hover {
  background: #e14de6;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.contact-icons a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #111;
  transition: all 0.3s ease;
}

.contact-icons a:hover {
  background: #8e44ad;
  color: #fff;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-full {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact-right {
    margin-top: 2rem;
    align-items: center;
  }
}
